@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

@media only screen and (min-width : 0px) {
    main {
        scale: .8;
    }
}
@media only screen and (min-width : 768px) {
    main {
        scale: 1;
    }
}

body {
    font-family: 'Jost';
    font-size: 2rem;
    margin: 0;
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: lightskyblue;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    transition: .3s;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 0 2rem lightskyblue;
}
button:active {
    scale: .9;
}

.oprs {
    background-color: lightseagreen;
}
.oprs:hover {
    box-shadow: 0 0 2rem lightseagreen;
}
#clear {
    background-color: lightcoral;
}
#clear:hover {
    box-shadow: 0 0 2rem lightcoral;
}
#equal {
    background-color: lightgreen;
    width: 11rem;
    border-radius: 2rem;
}
#equal:hover {
    box-shadow: 0 0 2rem lightgreen;
}

input {
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    text-align: end;
    width: 20rem;
    height: 2rem;
    padding: 1rem;
    border: 3px solid rgb(0, 190, 255);
    border-radius: .7rem;
    outline: none;
    transition: .3s;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
    width: 23rem;
}